:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}
body {
  margin: 0;
  background-color: var(--Off-white);
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Reguar"), url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"), url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: local("Poppins-ExtraBold"), url(./assets/fonts/Poppins-ExtraBold.ttf);
}
* {
  font-family: "Poppins-Regular", serif;
}
.main {
  background-color: var(--White);
  max-width: 600px;
  border-radius: 20px 20px 100% 20px;
  padding: 25px;
}
.input-group {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.view-group > div {
  display: flex;
  flex-direction: row;
}
.view-date {
  color: var(--Purple);
  font-family: Poppins-ExtraBold, serif;
  font-size: 50px;
  font-style: italic;
}
.view-text {
  color: black;
  font-size: 50px;
  font-family: Poppins-ExtraBold, serif;
  font-weight: bold;
  font-style: italic;
}
