:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}
body {
  margin: 0;
  background-color: var(--Off-white);
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Reguar"), url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"), url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: local("Poppins-ExtraBold"), url(./assets/fonts/Poppins-ExtraBold.ttf);
}
* {
  font-family: "Poppins-Regular", serif;
}
.break-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--Off-white); /* Modern Browsers */
}
.submit-logo {
  border-radius: 100%;
  background-color: var(--Purple);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px;
  cursor: pointer;
}
.submit-logo:hover {
  background-color: black;
}
.submit-logo > img {
  width: 30px;
  height: 30px;
}
.main {
  background-color: var(--White);
  max-width: 600px;
  min-width: 450px;
  border-radius: 20px 20px 50% 20px;
  padding: 25px;
}
.input-group {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 15px;
}
.input-group > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-group > div > label {
  font-size: 12px;
  font-weight: bold;
  color: var(--Off-black);
}
.input-group > div > input {
  width: 80px;
  border-radius: 5px;
  outline: solid 1px var(--Light-grey);
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.input-group > div > input:focus {
  outline: 1px solid var(--Purple) !important;
}
.input-error-day,
.input-error-month,
.input-error-year {
  color: var(--Light-red);
  font-style: italic;
  font-size: 10px;
  height: 5px;
}
.input-group > div > input:focus {
  outline: solid 1px var(--Light-grey);
  border: none;
}
.view-group > div {
  display: flex;
  flex-direction: row;
}
.view-date {
  color: var(--Purple);
  font-family: Poppins-ExtraBold, serif;
  font-size: 50px;
  font-style: italic;
  margin-right: 5px;
  letter-spacing: 4px;
}
.view-text {
  color: black;
  font-size: 50px;
  font-family: Poppins-ExtraBold, serif;
  font-weight: bold;
  font-style: italic;
}
